
                        <div class="jsTree">
                            <ul>
                                <li class="jstree-open" data-jstree='{"type":"folder"}'>H+主题
                                    <ul>
                                        <li data-jstree='{"type":"folder"}'>css
                                            <ul>
                                                <li data-jstree='{"type":"text"}'>animate.css</li>
                                                <li data-jstree='{"type":"text"}'>bootstrap.css</li>
                                                <li data-jstree='{"type":"text"}'>style.css</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"folder"}'>email-templates
                                            <ul>
                                                <li data-jstree='{"type":"code"}'>action.html</li>
                                                <li data-jstree='{"type":"code"}'>alert.html</li>
                                                <li data-jstree='{"type":"code"}'>billing.html</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"folder"}'>fonts
                                            <ul>
                                                <li>glyphicons-halflings-regular.eot</li>
                                                <li>glyphicons-halflings-regular.svg</li>
                                                <li>glyphicons-halflings-regular.ttf</li>
                                                <li>glyphicons-halflings-regular.woff</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"folder"}'>img
                                            <ul>
                                                <li data-jstree='{"type":"image"}'>profile_small.jpg</li>
                                                <li data-jstree='{"type":"image"}'>angular_logo.png</li>
                                                <li data-jstree='{"type":"image"}'>html_logo.png</li>
                                                <li data-jstree='{"type":"image"}'>mvc_logo.png</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"folder"}'>js
                                            <ul>
                                                <li data-jstree='{"type":"text"}'>hplus.js</li>
                                                <li data-jstree='{"type":"text"}'>bootstrap.js</li>
                                                <li data-jstree='{"type":"text"}'>jquery-2.1.1.js</li>
                                                <li data-jstree='{"type":"text"}'>jquery-ui.custom.min.js</li>
                                                <li data-jstree='{"type":"text"}'>jquery-ui-1.10.4.min.js</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"code"}'>affix.html</li>
                                        <li data-jstree='{"type":"code"}'>dashboard.html</li>
                                        <li data-jstree='{"type":"image"}'>mvc_logo.png</li>
                                        <li data-jstree='{"type":"text"}'>jquery-ui-1.10.4.min.js</li>
                                        <li data-jstree='{"type":"text"}'>style.css</li>
                                        <li>glyphicons-halflings-regular.woff</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
