	<div class="hd">
        <input placeholder="名称" class="page_title"/>
    </div>
    <div class="bd">

        <div class="weui_cells_title">请选择项目根目录</div>
        <div class="weui_cells weui_cells_form">
	        <div class="weui_cell">
	            <div class="weui_cell_hd"><label class="weui_label">根目录</label></div>
	            <div class="weui_cell_bd weui_cell_primary">
	                <input class="weui_input proj_root" placeholder="请输入完整的本地路径">
	            </div>
	            <div class="weui_cell_ft">
	                <a href="javascript:;" class="getCatalog weui_btn weui_btn_mini weui_btn_primary">确定</a>
	            </div>
	        </div>
        </div>

        <div class="weui_panel catalog_show">
            <div class="weui_panel_hd">请选择控制器文件</div>
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_text">
                    <div class="weui_media_title"></div>

                    <div class="jsTree_container">
                    </div>
                </div>
            </div>
        </div>

    </div>


